<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>{{Title}} - Mark</title>
	<meta type="description" content="{{description|default meta decription}}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- The 1140px Grid -->
	<link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen" />
	
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" />
	<![endif]-->
	
	<!-- Type and image presets - NOT ESSENTIAL -->
	<link rel="stylesheet" href="/css/typeimg.css" type="text/css" media="screen" />
	<!-- Make minor type adjustments for 1024 monitors -->
	<link rel="stylesheet" href="/css/smallerscreen.css" media="only screen and (max-width: 1023px)" />
	<!-- Resets grid for mobile -->
	<link rel="stylesheet" href="/css/mobile.css" media="handheld, only screen and (max-width: 767px)" />
	<!-- Put your layout here -->
	<link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/example.js"></script>
</head>

<body>

<div class="container">
	<div id="header" class="row">
		<div class="sevencol">
			<a class="logo" href="https://i.pinimg.com/236x/4b/9a/5b/4b9a5ba04c0302c62a95d0593b9b2e01--superhero-party-ironman.jpg"></a>
		</div>
		<div class="fivecol last">
			<p>
				<a href="/sitemap">Mapeo</a>
				<a href="/terms">Terminos</a>
			</p>
		</div>
	</div>
	<div id="nav" class="row">
		<div class="twelvecol">
			{{PrimaryNavigation}}
		</div>
	</div>
	{{Body}}
	<div id="footer" class="row">
		<div class="threecol">
			<h3>Link 1</h3>
			<ul>
				<li><a href="/">link1</a></li>
			</ul>
		</div>
		<div class="threecol">
			<h3>Link2 2</h3>
			<ul>
				<li><a href="/">link2</a></li>
			</ul>
		</div>
		<div class="threecol">
			<h3>Link 3</h3>
			<ul>
				<li><a href="/">link3</a></li>
			</ul>
		</div>
		<div class="threecol last">
			<h3>Link 4</h3>
			<ul>
				<li><a href="/">link4</a></li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>